.input-container {
  width: 448px;
  height: 500px;
  background-color: white;
  border-style: solid;
  border-color: darkgrey;
  border-width: thin;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
}

.signin-font {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
